.ui-dropdown {
    position: relative;
    font-size: 14px;
}

.ui-dropdown-label {
    margin-bottom: 6px;
    font-size: 12px;
    color: var(--ui-text);
}

.ui-dropdown-control {
    padding: 8px 10px;
    border-radius: var(--border-radius);
    background: var(--ui-bg);
    border: 1px solid var(--ui-muted);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.ui-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 6px;

    background: var(--ui-bg);
    border: 1px solid var(--ui-muted);
    border-radius: var(--border-radius);
    z-index: 9999;
    max-height: 175px;
    overflow-y: auto;
    overflow-x: hidden;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.ui-dropdown-item {
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.ui-dropdown-item:hover {
    background: var(--ui-muted-button);
}

.ui-dropdown-image {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.ui-dropdown-inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ui-dropdown-inner-wrapper-image-label {
    display: flex;
    gap: 6px;
}


.ui-dropdown-search-wrapper {
    width: 100%;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--ui-bg, #111);

}

.ui-dropdown-search-icon {
    width: 16px;
    height: 16px;
    color: var(--ui-muted);
}

.ui-dropdown-search {
    background: var(--ui-bg, #111);

    box-sizing: border-box;

    width: 100%;

    background: var(--ui-bg, #111);
    color: var(--ui-text);
    border: none;
    outline: none;
}

.ui-dropdown-empty {
    padding: 12px;
    opacity: 0.7;
    text-align: center;
}

.ui-dropdown-control.open {
    border-color: var(--ui-primary);
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.25);
}