.ui-dropdown {
    position: relative;
    font-family: sans-serif;
}

.ui-dropdown-trigger {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 10px;
    border: 1px solid #333;
    background: #111;
    color: white;
    height: 64px;

    cursor: pointer;
    user-select: none;
}

.ui-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    background: #111;
    border: 1px solid #333;
    max-height: 240px;
    overflow-y: auto;
    z-index: 1000;
}

.ui-dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px;
    cursor: pointer;
}

.ui-dropdown-item:hover {
    background: #222;
}

.ui-dropdown-item.active {
    background: #333;
}

.ui-dropdown-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.ui-dropdown-arrow {
    margin-left: auto;
    opacity: 0.7;
}