.loading-spinner {
    border: 6px solid var(--ui-muted);
    border-top: 6px solid var(--ui-primary);
    animation: spin var(--ui-speed-normal) linear infinite;

    border-radius: var(--circular-radius);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}